/CustomerOrderManagementApplication/CustomerOrderManagementApplication-ejb/build/
/CustomerOrderManagementApplication/CustomerOrderManagementApplication-ejb/dist/
/CustomerOrderManagementApplication/CustomerOrderManagementApplication-war/build/
/CustomerOrderManagementApplication/CustomerOrderManagementApplication-war/dist/
/CustomerOrderManagementApplication/build/